from marshmallow import fields, Schema


class {{ capitalize(name) }}Schema(Schema):
    """{{ capitalize(name) }}"""

    class Meta:
        ordered = True

    {{ lower(name) }}Id = fields.Number(attribute="{{ lower(name) }}_id", default=1)
    name = fields.String(attribute="name", required=True, default="New {{capitalize(name) }}")
    description = fields.String(attribute="description", required=False, default="Default Description")
